body {


    font-weight: 300 !important;
    margin: 0px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    background: rgba(255, 200, 100, .5);
}


body > header> h3 {
    background: #fff;
    color: #0f0
}

h3{
    color: #000;
}
body h1 {
    font-weight: 300;
    margin: 20px 30px;
}
#main-header {
    border-bottom: 2px solid #000;
}
#top-stories {
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}
article {
    width: 301px;
    display:inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin: 0px;
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);
    transition: box-shadow 500ms,background 3s;
}

#site-title {
    display: inline-block;
}
.profile-submenu {
    list-style: none;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.submenu {
    list-style: none;
    padding: 0px;
    border: 1px solid #aaa;
    background: #fff;
    margin-top: 30px;
    box-shadow: 2px 2px 15px rgba(0,0,0,.3);
}
